package ${target.javaPackageFromFolder(${SRC})};

public interface Item<T> {
	
	String getLabel();
	
	void setLabel(String label);
	
	T getValue();
	
	void setValue(T value);
	
	String toString();
	
}
