package ${target.javaPackageFromFolder(${SRC})};

import java.util.ArrayList;
import java.util.Collection;
import java.util.List;

import javax.annotation.Resource;

import org.modelmapper.ModelMapper;
import org.springframework.stereotype.Component;

@Component
public class ModelMapperHelper<T> {
	
	@Resource
	private ModelMapper modelMapper;
	
	public <I, O> List<O> map(Collection<I> inputs, Class<O> outputClass) {
		List<O> outputs = new ArrayList<O>();
		for(I input : inputs) {
			O output = modelMapper.map(input, outputClass);
			outputs.add(output);
		}
		return outputs;
	}

	public <I, O> void map(Collection<I> inputs, Collection<O> outputs, Class<O> outputClass) {
		for(I input : inputs) {
			O output = modelMapper.map(input, outputClass);
			outputs.add(output);
		}
	}
	
}
