package ${target.javaPackageFromFolder(${SRC})};

import java.util.Iterator;
import java.util.List;
import java.util.Map;

import javax.persistence.EntityManager;
import javax.persistence.PersistenceContext;
import javax.persistence.Query;

public class DaoImpl<T, ID extends java.io.Serializable> {

	@PersistenceContext
	private EntityManager entityManager;

	/**
	 * Load a list of entities using a named query without parameter
	 * 
	 * @param queryName
	 * @return
	 */
	@SuppressWarnings("unchecked")
	public List<T> findByNamedQuery(final String queryName) {
		final Query query = entityManager.createNamedQuery(queryName);
		return query.getResultList();
	}

	/**
	 * Load a list of entities using a named query with parameters
	 * 
	 * @param queryName
	 * @param queryParameters
	 * @return
	 */
	@SuppressWarnings("unchecked")
	public List<T> findByNamedQuery(final String queryName,
			final Map<String, Object> queryParameters) {
		final Query query = entityManager.createNamedQuery(queryName);
		final Iterator<String> i = queryParameters.keySet().iterator();
		while (i.hasNext()) {
			String key = i.next();
			query.setParameter(key, queryParameters.get(key));
		}
		return query.getResultList();
	}

}
