#set( $tools = $loader.newInstance("Tools") )
##--------------------------------------------------------------------------------------------------------
package ${target.javaPackageFromFolder(${SRC})};

import ${ENTITY_PKG}.${entity.name};
#if ( $entity.hasCompositePrimaryKey() )
import ${ENTITY_PKG}.${entity.name}Id;
#end
import ${target.javaPackageFromFolder(${SRC})}.base.Service;

/**
 * Service : ${entity.name}.
 */
public interface ${entity.name}Service extends Service<${entity.name}, ${tools.keyType($entity)}> {
	
}
