#set( $tools = $loader.newInstance("Tools") )
##--------------------------------------------------------------------------------------------------------
package ${target.javaPackageFromFolder(${SRC})};

import javax.annotation.Resource;

import org.springframework.stereotype.Component;
import ${ENTITY_PKG}.${entity.name};
#if ( $entity.hasCompositePrimaryKey() )
import ${ENTITY_PKG}.${entity.name}Id;
#end
import ${ROOT_PKG}.dao.jpa.${entity.name}Dao;
import ${ROOT_PKG}.dao.jpa.impl.base.DaoImpl;
import ${ROOT_PKG}.dao.repository.${entity.name}Repository;

/**
 * DAO : ${entity.name}.
 */
@Component
public class ${entity.name}DaoImpl extends DaoImpl<${entity.name}, ${tools.keyType($entity)}> implements ${entity.name}Dao {

	@Resource
	private ${entity.name}Repository ${entity.name.toLowerCase()}Repository;
	
}
