#set( $tools = $loader.newInstance("Tools") )
##--------------------------------------------------------------------------------------------------------
package ${target.javaPackageFromFolder(${SRC})};

import ${ENTITY_PKG}.${entity.name};
#if ( $entity.hasCompositePrimaryKey() )
import ${ENTITY_PKG}.${tools.keyType($entity)};
#end
import ${target.javaPackageFromFolder(${SRC})}.base.Dao;

/**
 * DAO : ${entity.name}.
 */
public interface ${entity.name}Dao extends Dao<${entity.name}, ${tools.keyType($entity)}> {

}
