package ${target.javaPackageFromFolder(${SRC})};

import java.util.List;
import java.util.Map;

public interface Dao<T, ID extends java.io.Serializable> {

	/**
	 * Load a list of entities using a named query without parameter
	 * 
	 * @param queryName
	 * @return
	 */
	List<T> findByNamedQuery(final String queryName);

	/**
	 * Load a list of entities using a named query with parameters
	 * 
	 * @param queryName
	 * @param queryParameters
	 * @return
	 */
	List<T> findByNamedQuery(final String queryName,
			final Map<String, Object> queryParameters);

}
