#set( $tools = $loader.newInstance("Tools") )
##--------------------------------------------------------------------------------------------------------
package ${target.javaPackageFromFolder(${SRC})};

import org.springframework.data.repository.PagingAndSortingRepository;
import ${ENTITY_PKG}.${entity.name};
#if ( $entity.hasCompositePrimaryKey() )
import ${ENTITY_PKG}.${tools.keyType($entity)};
#end

/**
 * Repository : ${entity.name}.
 */
public interface ${entity.name}Repository extends PagingAndSortingRepository<${entity.name}, ${tools.keyType($entity)}> {

}
