#set( $tools = $loader.newInstance("Tools") )
##--------------------------------------------------------------------------------------------------------
package ${target.javaPackageFromFolder(${SRC})};

import javax.annotation.Resource;

import ${ROOT_PKG}.bean.${entity.name};
#if ( $entity.hasCompositePrimaryKey() )
import ${ROOT_PKG}.bean.${tools.keyType($entity)};
#end
## Lien vers les entités
#foreach( $link in $entity.selectedLinks )
#if( !$link.isCardinalityManyToMany() && !$link.isCardinalityOneToMany() )
import ${ROOT_PKG}.bean.${link.targetEntityType};
#end
#end
## Lien vers les entités
#foreach( $link in $entity.selectedLinks )
#if( !$link.isCardinalityManyToMany() && !$link.isCardinalityOneToMany() )
import ${ROOT_PKG}.mapping.item.Item${link.targetEntityType};
#end
#end
import ${ROOT_PKG}.service.${entity.name}Service;
## Lien vers les entités
#foreach( $link in $entity.selectedLinks )
#if( !$link.isCardinalityManyToMany() && !$link.isCardinalityOneToMany() )
import ${ROOT_PKG}.service.${link.targetEntityType}Service;
#end
#end
import ${ROOT_PKG}.view.manager.${entity.name}EditViewManager;
import ${ROOT_PKG}.view.manager.base.AbstractViewManager;
import ${ROOT_PKG}.view.model.${entity.name}EditViewModel;
import org.springframework.stereotype.Component;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.ui.Model;

@Transactional
@Component
public class ${entity.name}EditViewManagerImpl extends AbstractViewManager implements ${entity.name}EditViewManager {

	public static final String ${entity.name.toUpperCase()} = "${tools.uncapitalize($entity.name)}EditViewModel";
	
	@Resource
	private ${entity.name}Service ${tools.uncapitalize($entity.name)}Service;
## Lien vers les entités
#foreach( $link in $entity.selectedLinks )
#if( !$link.isCardinalityManyToMany() && !$link.isCardinalityOneToMany() )
	@Resource
    private ${link.targetEntityType}Service ${tools.uncapitalize($link.targetEntityType)}Service;
#end
#end

	public void init(Model model, ${entity.name}EditViewModel ${tools.uncapitalize($entity.name)}EditViewModel) {
		model.addAttribute(${entity.name.toUpperCase()}, ${tools.uncapitalize($entity.name)}EditViewModel);
## Lien vers les entités
#foreach( $link in $entity.selectedLinks )
#if( !$link.isCardinalityManyToMany() && !$link.isCardinalityOneToMany() )
#set( $entityLink = $model.getEntityByClassName($link.targetEntityType) )
    	model.addAttribute("${tools.uncapitalize($link.targetEntityType)}s", modelMapperHelper.map(${tools.uncapitalize($link.targetEntityType)}Service.findAll(), Item${entityLink.name}.class));
#end
#end
	}
	
	public void displayCreate(Model model) {
		${entity.name}EditViewModel ${tools.uncapitalize($entity.name)}EditViewModel = new ${entity.name}EditViewModel();
		init(model, ${tools.uncapitalize($entity.name)}EditViewModel);
	}
	
	public void displayUpdate(Model model, ${tools.keyType($entity)} ${tools.keyName($entity)}) {
		${entity.name} ${tools.uncapitalize($entity.name)} = ${tools.uncapitalize($entity.name)}Service.findById(${tools.keyName($entity)});
		
		${entity.name}EditViewModel ${tools.uncapitalize($entity.name)}EditViewModel = modelMapper.map(${tools.uncapitalize($entity.name)}, ${entity.name}EditViewModel.class);
		init(model, ${tools.uncapitalize($entity.name)}EditViewModel);
	}
	
	public void create(Model model, ${entity.name}EditViewModel ${tools.uncapitalize($entity.name)}EditViewModel) {
		${entity.name} ${tools.uncapitalize($entity.name)} = modelMapper.map(${tools.uncapitalize($entity.name)}EditViewModel, ${entity.name}.class);

## define primary key field which are defined by link entity id
## Mapped fields = fields in Primary Key or not in selected Links
#set( $allMappedFields = $fn.concatLists($entity.keyAttributes, $entity.getAttributesByCriteria( $const.NOT_KEY, $const.NOT_IN_SELECTED_LINKS ) ) )
#foreach( $link in $entity.selectedLinks )
#set( $entityLink = $model.getEntityByClassName($link.targetEntityType) )
#set( $fieldsMappingForLink = $tools.fieldsMappingForLink( $entity, $entityLink, $link, $allMappedFields ) )
#if( ! $entity.hasCompositePrimaryKey() )
#if( ! $entityLink.hasCompositePrimaryKey() )
#foreach( $fieldMappingForLink in $fieldsMappingForLink.entrySet() )
		if( ${tools.uncapitalize($entity.name)}EditViewModel.get${entityLink.name}() != null && ${tools.uncapitalize($entity.name)}EditViewModel.get${entityLink.name}().getValue() != null) {
			${tools.uncapitalize($entity.name)}.${tools.keySetter($entity)}(${tools.uncapitalize($entity.name)}EditViewModel.get${entityLink.name}().getValue());
		}

#end
#else
#foreach( $fieldMappingForLink in $fieldsMappingForLink.entrySet() )
		if( ${tools.uncapitalize($entity.name)}EditViewModel.get${entityLink.name}() != null && ${tools.uncapitalize($entity.name)}EditViewModel.get${entityLink.name}().getValue() != null) {
			${tools.uncapitalize($entity.name)}.${tools.keySetter($entity)}(${tools.uncapitalize($entity.name)}EditViewModel.get${entityLink.name}().getValue().${fieldMappingForLink.value.getter}());
		}

#end
#end
#else
#if( ! $entityLink.hasCompositePrimaryKey() )
#foreach( $fieldMappingForLink in $fieldsMappingForLink.entrySet() )
		if( ${tools.uncapitalize($entity.name)}EditViewModel.get${entityLink.name}() != null && ${tools.uncapitalize($entity.name)}EditViewModel.get${entityLink.name}().getValue() != null) {
			${tools.uncapitalize($entity.name)}.${tools.keyGetter($entity)}().${fieldMappingForLink.key.setter}(${tools.uncapitalize($entity.name)}EditViewModel.get${entityLink.name}().getValue());
		}

#end
#else
#foreach( $fieldMappingForLink in $fieldsMappingForLink.entrySet() )
		if( ${tools.uncapitalize($entity.name)}EditViewModel.get${entityLink.name}() != null && ${tools.uncapitalize($entity.name)}EditViewModel.get${entityLink.name}().getValue() != null) {
			${tools.uncapitalize($entity.name)}.${tools.keyGetter($entity)}().${fieldMappingForLink.key.setter}(${tools.uncapitalize($entity.name)}EditViewModel.get${entityLink.name}().getValue().${fieldMappingForLink.value.getter}());
		}

#end
#end
#end
#end
		${tools.uncapitalize($entity.name)} = ${tools.uncapitalize($entity.name)}Service.save(${tools.uncapitalize($entity.name)});
		
		${tools.uncapitalize($entity.name)}EditViewModel = modelMapper.map(${tools.uncapitalize($entity.name)}, ${entity.name}EditViewModel.class);
		init(model, ${tools.uncapitalize($entity.name)}EditViewModel);
	}
	
	public void update(Model model, ${entity.name}EditViewModel ${tools.uncapitalize($entity.name)}EditViewModel) {
		${entity.name} ${tools.uncapitalize($entity.name)} = ${tools.uncapitalize($entity.name)}Service.findById(${tools.uncapitalize($entity.name)}EditViewModel.${tools.keyGetter($entity)}());
		
		modelMapper.map(${tools.uncapitalize($entity.name)}EditViewModel, ${tools.uncapitalize($entity.name)});

		${tools.uncapitalize($entity.name)} = ${tools.uncapitalize($entity.name)}Service.save(${tools.uncapitalize($entity.name)});
		
		${tools.uncapitalize($entity.name)}EditViewModel = modelMapper.map(${tools.uncapitalize($entity.name)}, ${entity.name}EditViewModel.class);
		init(model, ${tools.uncapitalize($entity.name)}EditViewModel);
	}

}
