#set( $tools = $loader.newInstance("Tools") )
##--------------------------------------------------------------------------------------------------------
package ${target.javaPackageFromFolder(${SRC})};

import java.lang.reflect.Type;
import java.util.List;

import javax.annotation.Resource;

import ${ROOT_PKG}.bean.${entity.name};
#if ( $entity.hasCompositePrimaryKey() )
import ${ROOT_PKG}.bean.${tools.keyType($entity)};
#end
import ${ROOT_PKG}.service.${entity.name}Service;
import ${ROOT_PKG}.view.manager.${entity.name}ListViewManager;
import ${ROOT_PKG}.view.manager.base.AbstractViewManager;
import ${ROOT_PKG}.view.model.${entity.name}ListViewModel;
import org.modelmapper.TypeToken;
import org.springframework.stereotype.Component;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.ui.Model;

@Transactional
@Component
public class ${entity.name}ListViewManagerImpl extends AbstractViewManager implements ${entity.name}ListViewManager {
	
	@Resource
	private ${entity.name}Service ${tools.uncapitalize($entity.name)}Service;
	
	@Override
	public void list(Model model) {
		List<${entity.name}> ${tools.uncapitalize($entity.name)}s = ${tools.uncapitalize($entity.name)}Service.findAll();
		
		List<${entity.name}ListViewModel> ${tools.uncapitalize($entity.name)}ListViewModels = modelMapperHelper.map(${tools.uncapitalize($entity.name)}s, ${entity.name}ListViewModel.class);
		
		model.addAttribute("list${entity.name}s", ${tools.uncapitalize($entity.name)}ListViewModels);
	}

	@Override
	public void delete(${tools.keyType($entity)} ${tools.keyName($entity)}) {
		${tools.uncapitalize($entity.name)}Service.delete(${tools.keyName($entity)});
	}
	
}
